<h2>Activities</h2>
<ul>
  {% for activity in activities %}
    <li><a href="{% url 'activity_detail' activity.id %}">{{ activity.name }}</a></li>
  {% empty %}
    <li>No activities available.</li>
  {% endfor %}
</ul>

<a href="{% url 'add_activity' %}">Add Activity</a>

