<h2>Add Activity</h2>
<form method="POST" action="{% url 'add_activity' %}">
  {% csrf_token %}
  <label for="name">Name:</label>
  <input type="text" name="name" required>
  <br>
  <br>
  <label for="start_date">Start Date:</label>
  <input type="date" id="start_date" name="start_date" required>
  <label for="location">Location:</label>
  <input type="text" name="location" required>
  <br>
  <br>
  <label for="start_date">Date:</label>
  <input type="date" id="start_date" name="start_date" required>
  <label for="location">Location:</label>
  <input type="text" name="location" required>
  <br>
  <br>
  <label for="start_date">Date:</label>
  <input type="date" id="start_date" name="start_date" required>
  <label for="location">Location:</label>
  <input type="text" name="location" required>
  <br>
  <br>
  <label for="end_date">End Date:</label>
  <input type="date" id="end_date" name="end_date" required>
  <label for="location">Location:</label>
  <input type="text" name="location" required>
  <br>
  <br>
  <button type="submit">Add Activity</button>
</form>