<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compaitable" content="ie=edge">
	<title>Attractions</title>
	
</head>
<body>
    <header>
        <h1 id="title1">JourneeJoy</h1>

        <ul class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'booking_form' %}">Hotels</a>
            <a href="{% url 'cab_booking' %}">Cabs</a>
            <a href="{% url 'bus_booking'%}">Buses</a>
            <a href="{% url 'attractions'%}">Attractions</a>
            <a href="{% url 'packages'%}">Holiday Packages</a>
            <!-- <a href="#testimonial">Testimonial</a> -->
          
           
        </ul>
        
            
          <div class="dropdown">
            <button>Account</button>
           
            <div class="dropdown-content">
            <a class="" href="{% url 'profile' %}">Profile</a>               
            <a class="" href="{% url 'contactus' %}">Contact Us</a>
            <a href="{% url 'about'%}">About Us</a>
          {% if user.is_authenticated %}
            <a class="" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="" href="{% url 'login' %}">Login</a>
              <a class="" href="{% url 'signup' %}">Sign Up</a>
          {% endif %}</a>
          
            
        </div>
      </div>
    </header>
	<div class="pimg1">
		<div class="ptext">
			<span class="border">
				Reason to Visit Hyderbad
			</span>
		</div>
	</div>
	<section class="section section-light">
	<h2>Hussain sagar</h2>
	<p>
        Hussain Sagar was built across a tributary of the Musi river in 1563 by Ibrahim Quli Qutb Shah. 
        The lake was named after Hussain Shah Wali, who was the Master of Architecture in the Kingdom. 
        It is an artificial lake that holds water perennially fed by canals from Musi river. Hussain Sagar
        was the main source of water supply to Hyderabad before Himayat Sagar and Osman Sagar were built 
        on river Musi.
        The Buddha statue was chiseled out of a white granite rock, weighing 450 tons. It was carved by 
        200 sculptors for two years. The statue was transported to Hyderabad in November 1988. After initial 
        problems, the statue was erected on 12 April 1992 on a red lotus pedestal.
	</p>
</section>
<div class="pimg2">
		<div class="ptext">
			<span class="border trans">
				Hussain Sagar
			</span>
		</div>
	</div>

	<section class="section section-dark">
	<h2>Historic Places</h2>
	<p>
        Golconda Fort is located in the western part of Hyderabad city and is 
        about 9 km from the Hussain Sagar Lake. The outer fort occupies an area 
        of three square kilometers, which is 4.8 kilometers in length.

        It was originally known as Mankal, and built on a hilltop in the year 1143. It was 
        originally a mud fort under the reign of Rajah of Warangal. Later it was fortified 
        between 14th and 17th centuries by the Bahmani Sultans and then the ruling Qutub Shahi 
        dynasty. Golconda was the principal capital of the Qutub Shahi kings. The inner fort contains 
        ruins of palaces, mosques and a hill top pavilion, which rises about 130 meters high and gives 
        a bird’s eye view of other buildings
	</p>
</section>

<div class="pimg3">
		<div class="ptext">
			<span class="border trans">
				Historic Places
			</span>
		</div>
	</div>

	<section class="section section-light">
	<h2>Night Life</h2>
	<p>
        Hyderabad, often referred to as the "City of Pearls," has a vibrant and diverse nightlife that 
        caters to a wide range of interests. The city offers a mix of trendy nightclubs, rooftop bars, 
        lounges, and live music venues, ensuring there's something for everyone to enjoy after the sun goes down.

        One of the popular areas for nightlife in Hyderabad is Banjara Hills, which houses numerous upscale restaurants, 
        bars, and clubs. Here, you can find a lively atmosphere with trendy establishments offering a mix of music, dance floors, 
        and delicious food and drinks.

        Another prominent nightlife destination is Jubilee Hills, known for its upscale establishments and trendy venues. You can 
        find a variety of lounges and rooftop bars offering stunning views of the city, providing a perfect setting for a night out 
        with friends or a romantic evening.
	</p>
</section>

<div class="pimg4">
    <div class="ptext">
        <span class="border trans">
            Night Life
        </span>
    </div>
</div>

<section class="section section-dark">
<h2>Food</h2>
<p>
    Biryani: Hyderabad is synonymous with its world-famous Hyderabadi Biryani.
    This aromatic rice dish is prepared with basmati rice, tender meat (usually chicken or mutton), 
    and a unique blend of spices. The slow cooking process known as "Dum" infuses the flavors into the 
    rice, creating a truly flavorful and fragrant experience.

    Haleem: Haleem is a traditional meat and lentil stew that is a must-try during the holy month of Ramadan.
    It is made by slow-cooking pounded wheat, meat (usually beef or mutton), lentils, and a blend of spices until 
    it reaches a thick and creamy consistency. Served with a squeeze of lemon and garnished with fried onions and 
    fresh herbs, Haleem is a hearty and flavorful dish.
</p>
</section>


<div class="pimg5">
    <div class="ptext">
        <span class="border trans">
           Food
        </span>
    </div>
</div>

<section class="section section-light">
<h2>Adventure Sports</h2>
<p>
    Hyderabad offers a range of thrilling adventure sports and activities for adventure enthusiasts. 
    While the city may not have natural landscapes for extreme adventure sports, it does have several 
    adventure parks and facilities that provide adrenaline-pumping experiences. Here are some popular 
    adventure sports in Hyderabad.
    Water Sports: While Hyderabad may not have natural water bodies, some adventure parks offer water 
    sports activities like kayaking and jet skiing in their artificial lakes or pools.
    Go-Karting: Experience the thrill of high-speed racing at go-karting tracks in Hyderabad. These 
    tracks offer a safe and exciting environment for both kids and adults to enjoy the adrenaline rush of go-karting.
</p>
</section>



<div class="pimg6">
		<div class="ptext">
			<span class="border trans">
				Adventure Sports
			</span>
		</div>
	</div>
    <footer>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-section feeback">
                    <p><center>Help us in serving you better<center> </p><br>
                    <p><a href="{% url 'feedback'%}" class="feedback">  Give Feedback </a></p>
                
                </div>
                <div class="footer-section links">
                    
                    <p><center>Journee Joy<center></p><br>
                      {% if user.is_authenticated %}
                      <p><a class="" href="{% url 'logout' %}">Logout</a></p>
                      {% else %}
                        <p><a class="" href="{% url 'login' %}">Login</a></p>
                        <p><a class="" href="{% url 'signup' %}">Sign Up</a></p>
                    {% endif %}</a>
                   
                </div>
                <div class="footer-section contact-form">
                    <div class="contact">
                        <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><i class="fa fa-envelope"></i> &nbsp; info@journeejoy.com</span>
                    </div><br>
                    <div class="socials">
                        <a href=""  style="color: white; text-decoration: none;" i class="fa-brands fa-facebook"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-instagram"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-twitter"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>     
              </div>
      
            <div class="footer-bottom">
                &copy; journeejoy.com | Designed by Journeejoy Team<br>
                Copyright &copy 2023 journeejoy Online Private Limited, India. All rights reserved
            </div>
        </div>
      </footer>
    <style>
	 *{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;
	z-index: 1;

}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}
        body, html{
	height:100%;
	margin-top:0px;
	font-size:16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}
.dropdown {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
     
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      white-space: nowrap;
      padding: 5px 10px;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;

    }
    
    .dropdown-content a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: black;
    }
   
    .dropdown-content a:hover {
      background-color: #cd2d2d;
    }
    .dropdown button {
      height: 40px;
      width: 120px;
      background-color: white;
    }


.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6
{
    
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.pimg1{
	background-image: url('https://www.mapsofindia.com/maps/telangana/cities/hyderabad-city-map.gif');
	min-height: 100%;
}

.pimg2{
	background-image: url('https://c0.wallpaperflare.com/preview/515/77/244/india-hyderabad-nh44.jpg');
	min-height: 100%;

}

.pimg3{
	background-image: url('https://c0.wallpaperflare.com/preview/486/854/429/hyderabad-india-golconda-fort-panorama.jpg');
	min-height: 100%;
	
	

}
.pimg4{
	background-image: url('https://e0.pxfuel.com/wallpapers/1005/963/desktop-wallpaper-night-club-club-party.jpg');
	min-height: 100%;
}
.pimg5{
	background-image: url('https://e0.pxfuel.com/wallpapers/921/740/desktop-wallpaper-mutton-biryani.jpg');
	min-height: 100%;
}
.pimg6{
	background-image: url('https://res.cloudinary.com/simplotel/image/upload/w_5000,h_3333/x_0,y_260,w_5000,h_2813,r_0,c_crop/q_80,w_900,dpr_1,f_auto,fl_progressive,c_limit/wonderla-hyderabad/Sky_Wheel_k9epdj?_ga=2.193376813.123086599.1685865770-1990363950.1685865770');
	min-height: 100%;
}
.section
{
	text-align: center;
	padding: 50px 80px;
}

.section-light
{
	background-color: #f4f4f4;
	color: #666;

}
.section-dark
{
	background-color: #2a2e34;
	color: #ddd;
}

.ptext
{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
    font-size: 37px;
    font-weight: bold;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border
{ 
	background-color: rgb(131, 21, 21);
	color: #000;
	padding: 20px;
}

.ptext .border.trans{
    background-color: transparent;
}
footer
  {
    margin-top: 0px;
      background: #303036;
      color: #d3d3d3;
      height: 40vh;
      position: relative;
      /* margin-left:-800px; */
  
  }
  
  
  .footer .footer-content
  {
  height: 150px;
  display: flex;	
  }
  
  
  .footer .footer-content .footer-section
  {
      flex: 1;
      padding: 45px;
      
  }
  
  .footer .footer-bottom{
      background: #303036;
      color: #686868;
      height: 100px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-top: 20px;
  }
  .feedback
  {
      background-color: #A9A9A9;
      color: white;
      position: absolute;
      left: 170px;
      padding: 10px;
      padding-right: 30px;
      border: 1px solid white;
      border-radius: 200px;
      display: inline-block;
      text-decoration: none;
      padding-left: 30px;
  
  }
  
  .feedback:hover
  {
      background-color: #303036;
  }
  .register
  {
      text-decoration: none;
      color: white;
      
  }
  
  
  .footer .footer-content .footer-section .contact-form .socials
  {
      text-decoration: none;
      color:white;
  }


    </style>
</body>
</html>