<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Canceled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <h1 id="title1">JourneeJoy</h1>

    <ul class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'booking_form' %}">Hotels</a>
<<<<<<< HEAD
        <a href="{% url 'cab_booking' %}">Cabs</a>
        <a href="{% url 'bus_booking'%}">Buses</a>
        <a href="{% url 'attractions'%}">Attractions</a>
        <a href="{% url 'packages'%}">Holiday Packages</a>
=======
        <a href="{% url 'cabs' %}">Cabs</a>
        <a href="{% url 'busses'%}">Buses</a>
        <a href="{% url 'attractions'%}">Attractions</a>
        <a href="{% url 'packages'%}">Holiday Packages</a>
        <!-- <a href="#testimonial">Testimonial</a> -->
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
      
       
    </ul>
    
        
      <div class="dropdown">
        <button>Account</button>
       
        <div class="dropdown-content">
        <a class="" href="{% url 'profile' %}">Profile</a>               
        <a class="" href="{% url 'contactus' %}">Contact Us</a>
        <a href="{% url 'about'%}">About Us</a>
      {% if user.is_authenticated %}
        <a class="" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="" href="{% url 'login' %}">Login</a>
          <a class="" href="{% url 'signup' %}">Sign Up</a>
      {% endif %}</a>
      
        
    </div>
  </div>
</header>
<!DOCTYPE html>
<html>
<head>
    <title>Booking Cancelled</title>
</head>
<body>
<<<<<<< HEAD
    <h1>Booking Cancelled</h1>
    <p>Your booking has been successfully cancelled.</p>
=======
    <div class="message">
    <h1>Booking Cancelled</h1>
    <p>Your booking has been successfully cancelled.</p>
</div>
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
</body>
</html>
</body>
<footer>
  <div class="footer">
      <div class="footer-content">
          <div class="footer-section feeback">
              <p><center>Help us in serving you better<center> </p><br>
              <p><a href="{% url 'feedback'%}" class="feedback">  Give Feedback </a></p>
          
          </div>
          <div class="footer-section links">
              
            <p><center>Journee Joy<center></p><br>
                {% if user.is_authenticated %}
                <p><a class="" href="{% url 'logout' %}">Logout</a></p>
                {% else %}
                  <p><a class="" href="{% url 'login' %}">Login</a></p>
                  <p><a class="" href="{% url 'signup' %}">Sign Up</a></p>
              {% endif %}</a>
                      
          </div>
          <div class="footer-section contact-form">
              <div class="contact">
                  <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span><i class="fa fa-envelope"></i> &nbsp; info@journeejoy.com</span>
              </div><br>
              <div class="socials">
                  <a href=""  style="color: white; text-decoration: none;" i class="fa-brands fa-facebook"></i></a>
                  <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-instagram"></i></a>
                  <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-twitter"></i></a>
                  <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-youtube"></i></a>
              </div>
          </div>     
        </div>

      <div class="footer-bottom">
          &copy; journeejoy.com | Designed by Journeejoy Team<br>
          Copyright &copy 2023 journeejoy Online Private Limited, India. All rights reserved
      </div>
  </div>
 </footer>
<style>
     *{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP1Bdww23fMHP5DG5flHWmNPePs3A93reyIA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;


}
.message{
    margin-top: 250px;
    text-align: center;
}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}
.dropdown {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
     
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      white-space: nowrap;
      padding: 5px 10px;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;

    }
    
    .dropdown-content a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: black;
    }
    
    .dropdown-content a:hover {
      background-color: #cd2d2d;
    }
    .dropdown button {
      height: 40px;
      width: 120px;
      background-color: white;
    }
    footer
  {
      background: #303036;
      color: #d3d3d3;
      height: 40vh;
      position: relative;
      /* margin-left:-800px; */
      margin-top: 300px;
  
  }
  
  
  .footer .footer-content
  {
  height: 150px;
  display: flex;	
  }
  
  
  .footer .footer-content .footer-section
  {
      flex: 1;
      padding: 45px;
      
  }
 
 
  
  .footer .footer-bottom{
      background: #303036;
      color: #686868;
      height: 100px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-top: 20px;
  }
  .feedback
  {
      background-color: #A9A9A9;
      color: white;
      position: absolute;
      left: 170px;
      padding: 10px;
      padding-right: 30px;
      border: 1px solid white;
      border-radius: 200px;
      display: inline-block;
      text-decoration: none;
      padding-left: 30px;
  
  }
  
  .feedback:hover
  {
      background-color: #303036;
  }
  .register
  {
      text-decoration: none;
      color: white;
      
  }
  
  
  .footer .footer-content .footer-section .contact-form .socials
  {
      text-decoration: none;
      color:white;
  }
</style>
</html>

