
<<<<<<< HEAD
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

=======
<<<<<<< HEAD
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<<<<<<<< HEAD:planner/templates/bus_booking.html
=======

>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
<header>
    <h1 id="title1">JourneeJoy</h1>

    <ul class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'booking_form' %}">Hotels</a>
        <a href="{% url 'cab_booking' %}">Cabs</a>
        <a href="{% url 'bus_booking'%}">Buses</a>
        <a href="{% url 'attractions'%}">Attractions</a>
        <a href="{% url 'packages'%}">Holiday Packages</a>
        <!-- <a href="#testimonial">Testimonial</a> -->
      
       
    </ul>
    
        
      <div class="dropdown">
        <button>Account</button>
       
        <div class="dropdown-content">
        <a class="" href="{% url 'profile' %}">Profile</a>               
        <a class="" href="{% url 'contactus' %}">Contact Us</a>
        <a href="{% url 'about'%}">About Us</a>
      {% if user.is_authenticated %}
        <a class="" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="" href="{% url 'login' %}">Login</a>
          <a class="" href="{% url 'signup' %}">Sign Up</a>
      {% endif %}</a>
      
        
    </div>
  </div>
</header>


<section class="bus">

<form action="{% url 'bus_booking' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book Bus</button>
</form>


</section>
<<<<<<< HEAD
=======
<<<<<<< HEAD
========
        <ul class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'booking_form' %}">Hotels</a>
            <a href="{% url 'cab_booking' %}">Cabs</a>
            <a href="{% url 'bus_booking'%}">Buses</a>
            <a href="{% url 'attractions'%}">Attractions</a>
            <a href="{% url 'packages'%}">Holiday Packages</a>
            <!-- <a href="#testimonial">Testimonial</a> -->
          
           
        </ul>
        
            
          <div class="dropdown">
            <button>Account</button>
           
            <div class="dropdown-content">
            <a class="" href="{% url 'profile' %}">Profile</a>               
            <a class="" href="{% url 'contactus' %}">Contact Us</a>
            <a href="{% url 'about'%}">About Us</a>
          {% if user.is_authenticated %}
            <a class="" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="" href="{% url 'login' %}">Login</a>
              <a class="" href="{% url 'signup' %}">Sign Up</a>
          {% endif %}</a>
          
            
        </div>
      </div>
    </header>

<body>
    <!-- <div class="book">
    <h1>Hotel Booking</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Book Now</button>
    </form>
</div> -->

    <div class="book">
        <h1>Hotel Booking</h1>
        <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-field">
            {{ field.label_tag }}
            {% if field.name == 'check_in_date' or field.name == 'check_out_date' %}
                {{ field }}
                <script>
                document.getElementById("id_{{ field.name }}").type = "date";
                document.getElementById("id_{{ field.name }}").setAttribute("class", "form-control");
                document.getElementById("id_{{ field.name }}").setAttribute("placeholder", "YYYY-MM-DD");
                </script>
            {% else %}
                {{ field }}
            {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Book Now</button>
        </form>
    </div>
</body>
>>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58:planner/templates/booking.html
=======
>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428


<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section feeback">
                <p><center>Help us in serving you better<center> </p><br>
                <p><a href="{% url 'feedback'%}" class="feedback">  Give Feedback </a></p>
            
            </div>
            <div class="footer-section links">
                
                <p><center>Journee Joy<center></p><br>
                  {% if user.is_authenticated %}
                  <p><a class="" href="{% url 'logout' %}">Logout</a></p>
                  {% else %}
                    <p><a class="" href="{% url 'login' %}">Login</a></p>
                    <p><a class="" href="{% url 'signup' %}">Sign Up</a></p>
                {% endif %}</a>
               
            </div>
            <div class="footer-section contact-form">
                <div class="contact">
                    <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-envelope"></i> &nbsp; info@journeejoy.com</span>
                </div><br>
                <div class="socials">
                    <a href=""  style="color: white; text-decoration: none;" i class="fa-brands fa-facebook"></i></a>
                    <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-instagram"></i></a>
                    <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-twitter"></i></a>
                    <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>     
          </div>
  
        <div class="footer-bottom">
            &copy; journeejoy.com | Designed by Journeejoy Team<br>
            Copyright &copy 2023 journeejoy Online Private Limited, India. All rights reserved
        </div>
    </div>
  </footer>
<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<<< HEAD:planner/templates/bus_booking.html
========
</body>
<style>
     /* .book{ */
        /* background: linear-gradient(red, rgb(65, 147, 65), blue); */
        
        /* margin-left: 150px;
        margin-top: 150px;
        height: 500px;
        width: 450px;
        background-color: inherit;
        padding: 30px 30px;
        border: 3px solid rgb(228, 224, 224); 
        border-radius: 50px;
       

    }  */
    body{
        background-image: url("https://c4.wallpaperflare.com/wallpaper/374/107/595/tourism-the-best-hotel-pools-2017-bali-vacation-wallpaper-preview.jpg");
        background-repeat: no-repeat;
        background-size:cover ;
    }
        
    
.book :focus{
    background: gray;
} 
>>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58:planner/templates/booking.html
=======
>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428



 <style>

*{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;
    z-index: 1;

}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}
.dropdown {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
     
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      white-space: nowrap;
      padding: 5px 10px;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;

    }
    
    .dropdown-content a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: black;
    }
    
    .dropdown-content a:hover {
      background-color: #cd2d2d;
    }
    .dropdown button {
      height: 40px;
      width: 120px;
      background-color: white;
    }

    footer
    {
        height: 50vh;
        background-color: bisque;
        
    }
    
 
    footer
  {
    margin-top: 300px;
      background: #303036;
      color: #d3d3d3;
      height: 40vh;
      position: relative;
      /* margin-left:-800px; */
  
  }
  
  
  .footer .footer-content
  {
  height: 150px;
  display: flex;	
  }
  
  
  .footer .footer-content .footer-section
  {
      flex: 1;
      padding: 45px;
      
  }
  
  .footer .footer-bottom{
      background: #303036;
      color: #686868;
      height: 100px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-top: 20px;
  }
  .feedback
  {
      background-color: #A9A9A9;
      color: white;
      position: absolute;
      left: 170px;
      padding: 10px;
      padding-right: 30px;
      border: 1px solid white;
      border-radius: 200px;
      display: inline-block;
      text-decoration: none;
      padding-left: 30px;
  
  }
  
  .feedback:hover
  {
      background-color: #303036;
  }
  .register
  {
      text-decoration: none;
      color: white;
      
  }
  
  
  .footer .footer-content .footer-section .contact-form .socials
  {
      text-decoration: none;
      color:white;
  }

<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<<< HEAD:planner/templates/bus_booking.html
=======
>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
  body{
        background-image: url("https://images.unsplash.com/photo-1557223562-6c77ef16210f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
        background-repeat: no-repeat;
        background-size:cover ;
    }

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
.bus{
    margin-left: 150px;
        margin-top: 150px;
        height: 700px;
        width: 450px;
        background-color: whitesmoke;
        padding: 30px 30px;
        border: 3px solid rgb(228, 224, 224); 
        border-radius: 50px;

}
<<<<<<< HEAD
 </style>
=======
 </style>
========
  form, input, button {
  margin: 0;
  padding: 10px 10px;
  border: none;
  font-family: Arial, sans-serif;
}

/* Style the book container */
.book {
  width: 500px;
  margin: 150px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the form header */
.book h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

/* Style form fields */
.book input[type="text"],
.book input[type="email"],
.book input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Style form button */
.book button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* On hover state for the form button */
.book button:hover {
  background-color: #45a049;
}

/* Style form field labels */
.book label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Style form error messages */
.book .error {
  margin-top: 5px;
  color: #ff0000;
}

/* Center align the form */
.book form {
  text-align: center;
}

</style>
</html>
>>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58:planner/templates/booking.html
=======
    .bus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bus form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; 
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.bus form input[type="text"],
.bus form input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.bus form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.bus form button[type="submit"]:hover {
  background-color: #45a049;
}

.bus form p {
  word-wrap: break-word;
}
 </style>
>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
