<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelled_trips</title>
</head>
<body>

<div class="container">
    <h1>Cancelled Bookings</h1>

    {% if canceled_hotel_bookings %}
        {% for canceled_hotel_booking in canceled_hotel_bookings %}
        <h2><strong>Cancelled Hotel Bookings</strong></h2>

            <p><strong>Check-In Date:</strong> {{ canceled_hotel_booking.check_in_date }}</p>
            <p><strong>Check-Out Date:</strong> {{ canceled_hotel_booking.check_out_date }}</p>
            <p><strong>Number Of Guests:</strong> {{ canceled_hotel_booking.num_guests }}</p>
            <p><strong>Room Number:</strong> {{ canceled_hotel_booking.room_number.room_number }}</p>
            <p>Booking Status: Canceled</p>
            <p>Cancellation Reason: {{ canceled_hotel_booking.cancellation_reason }}</p>
        {% endfor %}
    {% endif %}

    {% if canceled_bus_bookings %}
        {% for canceled_bus_booking in canceled_bus_bookings %}
        <h2><strong>Cancelled Bus Bookings</strong></h2>
            <p><strong>Pickup Location:</strong> {{ canceled_bus_booking.source }}</p>
            <p><strong>Drop Location:</strong> {{ canceled_bus_booking.destination }}</p>
            <p><strong>Travel Date:</strong> {{ canceled_bus_booking.travel_date }}, 09:00 AM</p>
            <p><strong>Number of Passengers:</strong> {{ canceled_bus_booking.num_passengers }}</p>
            <p>Booking Status: Canceled</p>
            <p>Cancellation Reason: {{ canceled_bus_booking.cancellation_reason }}</p>
        {% endfor %}
    {% endif %}

    {% if canceled_cab_bookings %}
    {% for canceled_cab_booking in canceled_cab_bookings %}
    <h2><strong>Cancelled Cab Bookings</strong></h2>
        <p><strong>Pickup Location:</strong> {{ canceled_cab_booking.source }}</p>
        <p><strong>Drop Location:</strong> {{ canceled_cab_booking.destination }}</p>
        <p><strong>Travel Date:</strong> {{ canceled_cab_booking.travel_date }}, 09:00 AM</p>
        <p><strong>Number of Passengers:</strong> {{ canceled_cab_booking.num_passengers }}</p>
        <p>Booking Status: Canceled</p>
        <p>Cancellation Reason: {{ canceled_cab_booking.cancellation_reason }}</p>
    {% endfor %}
{% endif %}
</div>

</body>
</html>