<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JourneeJoy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1 id="title1">JourneeJoy</h1>

        <ul class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'booking_form' %}">Hotels</a>
            <a href="{% url 'cab_booking' %}">Cabs</a>
            <a href="{% url 'bus_booking'%}">Buses</a>
            <a href="{% url 'attractions'%}">Attractions</a>
            <a href="{% url 'packages'%}">Holiday Packages</a>
            <a href="#testimonial">Testimonial</a>
          
           
        </ul>
        
            
          <div class="dropdown">
            <button>Account</button>
           
            <div class="dropdown-content">
            <a class="" href="{% url 'profile' %}">Profile</a>               
            <a class="" href="{% url 'contactus' %}">Contact Us</a>
            <a href="{% url 'about'%}">About Us</a>
          {% if user.is_authenticated %}
            <a class="" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="" href="{% url 'login' %}">Login</a>
              <a class="" href="{% url 'signup' %}">Sign Up</a>
          {% endif %}</a>
          
            
        </div>
      </div>
    </header>
    <main>
       
        <section class="text">
            <img id="background-img" src="https://tshc.gov.in/dds/images/6.jpg " alt="">
            <h1 id="title">Hyderabad</h1>
            <p>Hyderabad is a city with a fascinating mix of modern and ancient cultural attractions.<br>
                Once famous for its pearls and diamonds, Hyderabad is now a major center<br> for the technology industry.<br>
                 It is a city of great cultural importance, with many remaining landmarks of the Qutub Shahi Dynasty to explore.<br>
                  Tourists can also enjoy the city’s great cuisine and museums,<br>
                   such as the Salar Jung Museum, while the Birla Mandir temple remains an important Hindu site of pilgrimage.</p>
        </section>
        
    </main>
    <section class="services" id="services">
        <div class="heading">
            <span>Best Attractions</span>
            <h1>Explore Our Top Places<br>In Hyderabad</h1>
        </div>
        <div class="services-container">
            <div class="box">
                <div class="box-img">
                    <img src="https://assets-news.housing.com/news/wp-content/uploads/2020/11/02184143/Everything-you-need-to-know-about-Golconda-Fort-FB-1200x700-compressed.jpg" alt="">
                </div>
                <h1>Golconda Fort</h1>
                <h3>Capital of a kingdom that flourished from the 14th to 16th century, with 87 semi-circular bastions.</h3>
                <h2>Timings <span>09:00 am to 05:00 pm</span></h2>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="https://i.pinimg.com/originals/8b/fd/17/8bfd1717c468883b31608b26e01b393d.jpg" alt="">
                </div>
                <h1>Charminar</h1>
                <h3>Iconic 16th-century mosque with 4 grand arches, 48m tall minarets and views over the Laad Bazaar.</h3>
                <h2>Timings <span>9:30 am – 5:30 pm</span></h2>
            </div> <div class="box">
                <div class="box-img">
                    <img src="https://piccle.in/wp-content/uploads/2020/04/Ramoji-Film-City-1024x678.jpg" alt="">
                </div>
                <h1>Ramoji Film City</h1>
                <h3>The world's largest film studio offering tours, live shows, on-site theme park and adventure zone.</h3>
                <h2>Timings<span>9.00 AM to 10.00 PM</span></h2>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="https://static.toiimg.com/thumb/msid-39669197,width=1200,height=900/39669197.jpg" alt="">
                </div>
                <h1> Birla Mandir</h1>
                <h3>Imposing, hilltop Hindu temple built of white marble, with towers, shrines and interior carvings.</h3>
                <h2>Timings<span>	7:00 am – 12:00 pm <br><span>2 pm – 9:00 pm</span></span></h2>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="https://images.newindianexpress.com/uploads/user/imagelibrary/2019/6/29/w900X450/Salar_Jung_Museum_EPS.jpg" alt="">
                </div>
                <h1> Salar Jung Museum</h1>
                <h3>Former art collection of the Salar Jung family from around the world, now a museum.</h3>
                <h2>Timings<span>10.00 A.M. to 5.00 P.M. </span></h2>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="https://www.holidify.com/images/compressed/attractions/attr_1859.jpg" alt="">
                </div>
                <h1>Hussain Sagar</h1>
                <h3>A large Buddha monument rises atop a giant rock in the midst of this heart-shaped, urban lake.</h3>
                <h2>Timings<span>08:00 am – 10:00 pm</span></h2>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="http://www.travelmango.in/wp-content/uploads/2015/11/Falaknuma_Palace_01.jpg" alt="">
                </div>
                <h1>Taj Falaknuma Palace</h1>
                <h3>Elegant rooms & suites in a grand hotel offering upscale dining & a spa, plus an outdoor pool.</h3>
                <h2>Timings<span>4:00 pm – 5:30 pm - entry</span></h2>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="https://www.pvmishra.com/wp-content/uploads/2016/04/Chilkur-Balaji-Temple-Hyderabad.jpg" alt="">
                </div>
                <h1>Chilkur Balaji Temple</h1>
                <h3>Enduring Hindu temple known as 'Visa' Balaji & drawing devotees who wish for visas abroad.</h3>
                <h2>Timings<span>6:00 am – 1:00 pm <br><span>6:00 am – 1:00 pm</span></span></h2>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="head">
            <span>Other</span>
            <h1>Notable Attractions<br>In Hyderabad</h1>
        </div>
    <section class="places">
        <div class="container">
            <div class="section">
              <div class="image">
                <img src="https://www.hyderabadtourism.travel/images/v2/header-places/chowmahalla-palace-hyderabad-tourism-entryfee-timings-reviews-header.jpg" alt="Chowmahalla Palace">
              </div>
              <div class="content">
                
                <h1>Chowmahalla Palace Castle</h1>
                <p>Persian-style palaces with an opulent Durbar hall in lush grounds open for events & receptions.</p>
              </div>
            </div>
            <div class="section">
              <div class="image">
                <img src="https://nearbylocation.in/wp-content/uploads/2017/09/nehru-zoological-park-hyderabad.jpg" alt="Nehru Zoological Park">
              </div>
              <div class="content">
                <h1>Nehru Zoological Park Zoo</h1>
                <p>What makes Hyderabad zoo an amiable place for both visitors and inhabitants are the open.</p>
              </div>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <div class="image">
                  <img src="https://live.staticflickr.com/1525/24026069445_c4c24a887e_b.jpg" alt="">
                </div>
                <div class="content">
                  <h1>Buddha Statue</h1>
                  <p>Monolith of Gautama Buddha on its own island in Hussain Sagar lake, which can be reached by boat.</p>
                </div>
              </div>
              <div class="section">
                <div class="image">
                  <img src="https://i.pinimg.com/originals/ab/59/15/ab59154f453310df0600d0eadefd75cd.jpg" alt="">
                </div>
                <div class="content">
                  <h1>Shilparamam</h1>
                  <p>Village known for its traditional crafts & cultural shows, featuring a model village, museum & lake.</p>
                </div>
              </div>
            </div>

        <div class="container">
            <div class="section">
                <div class="image">
                  <img src="https://c8.alamy.com/comp/DAXPYK/lumbini-park-hyderabad-andhra-pradesh-india-DAXPYK.jpg" alt="">
                </div>
                <div class="content">
                  <h1>Lumbini Park</h1>
                  <p>Popular park on a lake with gardens, musical fountain shows, a large Buddha statue & boat rides.</p>
                </div>
              </div>
              <div class="section">
                <div class="image">
                  <img src="https://thumbs.dreamstime.com/b/puri-jagannath-temple-hyderabad-23077781.jpg" alt="">
                </div>
                <div class="content">
                  <h1>Shri Jagannath Temple</h1>
                  <p>Contemporary, terracotta-colored Hindu temple adorned with vibrant wall carvings of gods.</p>
                </div>
              </div>
            </div>
        <div class="container">
            <div class="section">
                <div class="image">
                  <img src="https://i.pinimg.com/736x/77/9b/b5/779bb54bd6643aeb5d6cc2a0330b8c21--hyderabad-incredible-india.jpg" alt="">
                </div>
                <div class="content">
                  <h1>Qutub Shahi Tombs</h1>
                  <p>Ornate,tombs from 18th century, built for Qutub Shahi dynasty rulers with landscaped gardens.</p>
                </div>
              </div>
              <div class="section">
                <div class="image">
                  <img src="https://www.thenewsminute.com/sites/default/files/Durgam-cheruvu-cable-stay-bridge-jublieehills-madhapur-ITcorridor-Hitechcity-min.jpg" alt="">
                </div>
                <div class="content">
                  <h1>Durgam Cheruvu</h1>
                  <p>Durgam Cheruvu now has an artificial waterfall and floating fountain which attracts visitors.</p>
                </div>
              </div>
            </div>
    </section>



    <section id="testimonial">
      <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">What Our Client Says About JourneeJoy</h2>
            </div>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container shortcode">
            <div class="row">
                <div class="col-sm-6">
                    <div class="testimonial style1 box">
                        <ul class="slides ">
                              <a><img src="https://tnjfu.ac.in/otherconstituentunits/otherscon/tnjfuacademy/images/default.jpg" alt="" width="24" height="24" /></a>
                                <li><p class="description">IMPECCABLE service! AGAIN….! Thank you so much – that’s made things so much easier!</p></li>
                                <div class="author clearfix">
                                    <h5 class="name">---Hiren Patel</h5>
                                </div>
                        </ul>
                    </div>
                </div>

                <br>
                <div class="col-sm-6">
                    <div class="testimonial style1 box">
                        <ul class="slides ">
                            <a><img src="https://tnjfu.ac.in/otherconstituentunits/otherscon/tnjfuacademy/images/default.jpg" alt="" width="24" height="24" /></a>
                                <li><p class="description">Our family just returned from our first Friendly Planet trip. The arrangements went so smoothly. All the hotels were even nicer than we had anticipated and the guides were wonderful. There was not one hitch or issue. We can't recommend Friendly Planet highly enough. </p></li>
                                <div class="author clearfix">
                                    <h5 class="name">---Meghana Sharma</h5>
                                </div>
                            
                        </ul>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                  <div class="testimonial style1 box">
                      <ul class="slides ">
                          <a><img src="https://tnjfu.ac.in/otherconstituentunits/otherscon/tnjfuacademy/images/default.jpg" alt="" width="24" height="24" /></a>
                              <li><p class="description">Great communication, always replied to emails quickly and answered all questions. Only issue was when we were in Fiji they didn't have our name for the cruise back to the mainland or for the bus back to the airport. Luckily, we had screenshots of our vouchers etc but we were told they would have our name for everything. Otherwise everything was great and went smoothly with the company. Will definitely book through Travel online again :)

                              </p></li>
                              <div class="author clearfix">
                                  <h5 class="name">---Amanda McLeod</h5>
                              </div>
                          
                      </ul>
                  </div>
              </div>
              <br>
              <div class="col-sm-6">
                <div class="testimonial style1 box">
                    <ul class="slides ">
                        <a><img src="https://tnjfu.ac.in/otherconstituentunits/otherscon/tnjfuacademy/images/default.jpg" alt="" width="24" height="24" /></a>
                            <li><p class="description">Very helpful all the way through. Quick response to queries and very polite. I don't know that you can improve we were very happy with your service. Everything ran smoothly from the word go. We had a wonderful holiday. Thank you. Yes I would recommend you.</p></li>
                            <div class="author clearfix">
                                <h5 class="name">---Frank Raymond Taylor</h5>
                            </div>
                        
                    </ul>
                </div>
            </div>
            <br>
            </div>
        </div>
    </section>

    </section>
    <footer>
      <div class="footer">
          <div class="footer-content">
              <div class="footer-section feeback">
                  <p><center>Help us in serving you better<center> </p><br>
                  <p><a href="{% url 'feedback'%}" class="feedback">  Give Feedback </a></p>
              
              </div>
              <div class="footer-section links">
                  
                  <p><center>Journee Joy<center></p><br>
                    {% if user.is_authenticated %}
                    <p><a class="" href="{% url 'logout' %}">Logout</a></p>
                    {% else %}
                      <p><a class="" href="{% url 'login' %}">Login</a></p>
                      <p><a class="" href="{% url 'signup' %}">Sign Up</a></p>
                  {% endif %}</a>
                 
              </div>
              <div class="footer-section contact-form">
                  <div class="contact">
                      <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span><i class="fa fa-envelope"></i> &nbsp; info@journeejoy.com</span>
                  </div><br>
                  <div class="socials">
                      <a href=""  style="color: white; text-decoration: none;" i class="fa-brands fa-facebook"></i></a>
                      <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-instagram"></i></a>
                      <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-twitter"></i></a>
                      <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-youtube"></i></a>
                  </div>
              </div>     
            </div>
    
          <div class="footer-bottom">
              &copy; journeejoy.com | Designed by Journeejoy Team<br>
              Copyright &copy 2023 journeejoy Online Private Limited, India. All rights reserved
          </div>
      </div>
    </footer>
    
           
</body>
</html>
<style>
  *{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;
    z-index: 1;

}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}
.dropdown {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
     
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      white-space: nowrap;
      padding: 5px 10px;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;

    }
    
    .dropdown-content a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: black;
    }
    
    .dropdown-content a:hover {
      background-color: #cd2d2d;
    }
    .dropdown button {
      height: 40px;
      width: 120px;
      background-color: white;
    }
#background-img
{
    height: 100.4vh;
    width: 99vw;
    object-fit: cover;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.text{
    margin-top: 300px;
    text-align: center;
    color: rgb(239, 241, 243); 
}
.text h1{
    font-size: 4rem;
    letter-spacing: 2px;

}

.text p{
    margin: 10px 30px 50px 70px;
}
#hyd{
    margin-bottom: 10px;
}
.heading{
    margin-top:250px;
    text-align: center;
    font-size: large;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.services-container .box {
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.services-container .box .box-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.services-container .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.services-container .box .box-img img:hover {
  transform: scale(1.1);
}

.services-container .box h3,
.services-container .box h1 {
  font-weight: 500;
  padding: 0px 10px;
  margin: 1rem 0 1rem;
  padding-right: 30px;
  border-radius: 0.5rem;
}

.services-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fe5b3d;
  margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #444;
}

.head{
    margin-top:20px;
    text-align: center;
    font-size: large;
}

.container{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.container img{
    height: 150px;
    width: 150px;
    margin-right: 50px;
}
  
.section {
    display: flex;
    margin-bottom: 20px;
  }
  
.image {
    flex: 1;
  }
  
.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
  }
  
.content {
    flex: 1;
    padding: 20px;

  }
.image{
  margin-left: 40px;
  height: 100px;
}

  
h1, p {
    margin: 0;
  }
  footer
    {
        height: 50vh;
        background-color: bisque;
        
    }
    
    .container
    {
        margin: 0 auto;
        position: relative;
        width: 90%;
        height: 40%;
        padding-bottom: 5%;
       
    }
    footer
  {
      background: #303036;
      color: #d3d3d3;
      height: 40vh;
      position: relative;
      /* margin-left:-800px; */
  
  }
  
  
  .footer .footer-content
  {
  height: 150px;
  display: flex;	
  }
  
  
  .footer .footer-content .footer-section
  {
      flex: 1;
      padding: 45px;
      
  }
  
  .footer .footer-bottom{
      background: #303036;
      color: #686868;
      height: 100px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-top: 20px;
  }
  .feedback
  {
      background-color: #A9A9A9;
      color: white;
      position: absolute;
      left: 170px;
      padding: 10px;
      padding-right: 30px;
      border: 1px solid white;
      border-radius: 200px;
      display: inline-block;
      text-decoration: none;
      padding-left: 30px;
  
  }
  
  .feedback:hover
  {
      background-color: #303036;
  }
  .register
  {
      text-decoration: none;
      color: white;
      
  }
  
  
  .footer .footer-content .footer-section .contact-form .socials
  {
      text-decoration: none;
      color:white;
  }


</style>
