<<<<<<<< HEAD:planner/templates/hotel_booking.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JourneeJoy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1 id="title1">JourneeJoy</h1>

        <ul class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'booking_form' %}">Hotels</a>
            <a href="{% url 'cab_booking' %}">Cabs</a>
            <a href="{% url 'bus_booking'%}">Buses</a>
            <a href="{% url 'attractions'%}">Attractions</a>
            <a href="{% url 'packages'%}">Holiday Packages</a>
            <a href="#testimonial">Testimonial</a>
          
           
        </ul>
        
            
          <div class="dropdown">
            <button>Account</button>
           
            <div class="dropdown-content">
            <a class="" href="{% url 'profile' %}">Profile</a>               
            <a class="" href="{% url 'contactus' %}">Contact Us</a>
            <a href="{% url 'about'%}">About Us</a>
          {% if user.is_authenticated %}
            <a class="" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="" href="{% url 'login' %}">Login</a>
              <a class="" href="{% url 'signup' %}">Sign Up</a>
          {% endif %}</a>
          
            
        </div>
      </div>
    </header>
    <section class ="book">

<h2>Book a Hotel Room</h2>


  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book Now</button>
  </form>
</section>
  <footer>
========
<<<<<<< HEAD
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
=======
>>>>>>> a3fc64f407a8e3dedfbeaa2262048bc1e5b85088


<header>
    <h1 id="title1">JourneeJoy</h1>

    <ul class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'booking_form' %}">Hotels</a>
        <a href="{% url 'cab_booking' %}">Cabs</a>
        <a href="{% url 'bus_booking'%}">Buses</a>
        <a href="{% url 'attractions'%}">Attractions</a>
        <a href="{% url 'packages'%}">Holiday Packages</a>
        <!-- <a href="#testimonial">Testimonial</a> -->
      
       
    </ul>
    
        
      <div class="dropdown">
        <button>Account</button>
       
        <div class="dropdown-content">
        <a class="" href="{% url 'profile' %}">Profile</a>               
        <a class="" href="{% url 'contactus' %}">Contact Us</a>
        <a href="{% url 'about'%}">About Us</a>
      {% if user.is_authenticated %}
        <a class="" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="" href="{% url 'login' %}">Login</a>
          <a class="" href="{% url 'signup' %}">Sign Up</a>
      {% endif %}</a>
      
        
    </div>
  </div>
</header>



<section class="cab">
<form action="{% url 'cab_booking' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book Cab</button>
</form>

</section>
<<<<<<< HEAD
{% if booking.cab_driver %}
  <h3>Cab Driver Details:</h3>
  <p>Name: {{ booking.cab_driver.name }}</p>
  <p>Contact Number: {{ booking.cab_driver.contact_number }}</p>
  <p>Cab Number: {{ booking.cab_driver.cab_number }}</p>
{% else %}
  <!--<p>No cab driver available for the selected date. Please choose a different date.</p> -->
{% endif %}
=======
>>>>>>> a3fc64f407a8e3dedfbeaa2262048bc1e5b85088
<footer>
>>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428:planner/templates/cab_booking.html
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section feeback">
                <p><center>Help us in serving you better<center> </p><br>
                <p><a href="{% url 'feedback'%}" class="feedback">  Give Feedback </a></p>
            
            </div>
            <div class="footer-section links">
                
                <p><center>Journee Joy<center></p><br>
                  {% if user.is_authenticated %}
                  <p><a class="" href="{% url 'logout' %}">Logout</a></p>
                  {% else %}
                    <p><a class="" href="{% url 'login' %}">Login</a></p>
                    <p><a class="" href="{% url 'signup' %}">Sign Up</a></p>
                {% endif %}</a>
               
            </div>
            <div class="footer-section contact-form">
                <div class="contact">
                    <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-envelope"></i> &nbsp; info@journeejoy.com</span>
                </div><br>
                <div class="socials">
                    <a href=""  style="color: white; text-decoration: none;" i class="fa-brands fa-facebook"></i></a>
                    <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-instagram"></i></a>
                    <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-twitter"></i></a>
                    <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>     
          </div>
  
        <div class="footer-bottom">
            &copy; journeejoy.com | Designed by Journeejoy Team<br>
            Copyright &copy 2023 journeejoy Online Private Limited, India. All rights reserved
        </div>
    </div>
  </footer>
<<<<<<<< HEAD:planner/templates/hotel_booking.html
  <style>
    .book{
      margin-top: 100px;
    }
    header{
========



 <style>

*{
    margin: 0px;
    padding: 0px;
}
header{
>>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428:planner/templates/cab_booking.html
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: snow;
    padding: 15px 100px;
    z-index: 1;

}
.navbar{
    display: flex;
}
#title1{
  margin-left: 150px;
}

.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.navbar a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.navbar a:hover::after {
    width: 100%;

}
.navbar a:hover{
    background-color: #fe5b3d;
    
}
.header-btn{
    display: flex;
}
.header-btn a{
    font-size: 1rem;
    padding: 10px 20px;
    color:  #444;
    font-weight: 500;
    text-decoration: none;
}
.header-btn a::after {
    width: 0;
    height: 3px;
    background: #fe5b3d,#ffac38;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}
.header-btn a:hover::after {
    width: 100%;

}
.header-btn a:hover{
    background-color: #fe5b3d;
    
}
.dropdown {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
     
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      white-space: nowrap;
      padding: 5px 10px;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;

    }
    
    .dropdown-content a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
      color: black;
    }
    
    .dropdown-content a:hover {
      background-color: #cd2d2d;
    }
    .dropdown button {
      height: 40px;
      width: 120px;
      background-color: white;
    }
<<<<<<<< HEAD:planner/templates/hotel_booking.html
    /* Reset default styles */
body, html, form, fieldset, legend, label, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

/* Center the form */
form {
  width: 400px;
  margin: 0 auto;
}

/* Style the form heading */
h2 {
  font-size: 24px;
  /* margin-bottom: 100px; */
  text-align: center;
}

/* Style the form fields */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
form select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the form button */
form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style form errors (if applicable) */
form .errorlist {
  color: #f00;
  margin-bottom: 10px;
}

/* Additional styles for a visually appealing form */
form {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add some spacing between form fields */
form input,
form select {
  margin-bottom: 15px;
}

/* Center the form button */
form button[type="submit"] {
  margin-top: 20px;
}
footer
========

    footer
    {
        height: 50vh;
        background-color: bisque;
        
    }
    
    
    footer
>>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428:planner/templates/cab_booking.html
  {
    margin-top: 200px;
      background: #303036;
      color: #d3d3d3;
      height: 40vh;
      position: relative;
      /* margin-left:-800px; */
  
  }
  
  
  .footer .footer-content
  {
  height: 150px;
  display: flex;	
  }
  
  
  .footer .footer-content .footer-section
  {
      flex: 1;
      padding: 45px;
      
  }
  
  .footer .footer-bottom{
      background: #303036;
      color: #686868;
      height: 100px;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-top: 20px;
  }
  .feedback
  {
      background-color: #A9A9A9;
      color: white;
      position: absolute;
      left: 170px;
      padding: 10px;
      padding-right: 30px;
      border: 1px solid white;
      border-radius: 200px;
      display: inline-block;
      text-decoration: none;
      padding-left: 30px;
  
  }
  
  .feedback:hover
  {
      background-color: #303036;
  }
  .register
  {
      text-decoration: none;
      color: white;
      
  }
  
  
  .footer .footer-content .footer-section .contact-form .socials
  {
      text-decoration: none;
      color:white;
  }

<<<<<<<< HEAD:planner/templates/hotel_booking.html
  </style>
========
  body{
<<<<<<< HEAD
        background-image: url("https://images.unsplash.com/photo-1490650404312-a2175773bbf5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGF4aXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
        background-repeat: no-repeat;
        background-size:cover ;
    }

.cab{
    margin-left: 150px;
        margin-top: 150px;
        height: 700px;
        width: 450px;
        background-color: white;
        padding: 30px 30px;
        border: 3px solid rgb(228, 224, 224); 
        border-radius: 50px;
        word-spacing: 10px;
}

=======
        background-image: url("https://media.istockphoto.com/id/519870714/photo/taxi.jpg?s=612x612&w=0&k=20&c=mzlqm5eisvu-B7hCyOK3LAsR4ugFTsHtC2kMWUmbA0Y=");
        background-repeat: no-repeat;
        background-size:cover ;
    }
    .cab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cab form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.cab form input[type="text"],
.cab form input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.cab form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.cab form button[type="submit"]:hover {
  background-color: #45a049;
}


>>>>>>> a3fc64f407a8e3dedfbeaa2262048bc1e5b85088
 </style>

>>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428:planner/templates/cab_booking.html
