<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f8f9fa;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        
        .profile-card {
            max-width: 400px;
            margin: 0 auto;
            background-color: #ffffff;
            border: 1px solid #dee2e6;
            border-radius: 4px;
            padding: 30px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .profile-card p {
            margin-bottom: 15px;
        }
        
        .profile-form button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        
        .address-container {
            margin-top: 30px;
        }
        
        .address-card {
            background-color: #ffffff;
            border: 1px solid #dee2e6;
            border-radius: 4px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .address-card p {
            margin-bottom: 10px;
        }
        
        .add-address-form {
            display: none;
            margin-top: 20px;
        }
        
        .add-address-form label {
            font-weight: bold;
        }
        
        .add-address-form input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        
        .add-address-form button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
    </style> 
</head>

    <header>
        <h1 id="title1">JourneeJoy</h1>

        <ul class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'booking_form' %}">Hotels</a>
            <a href="{% url 'cab_booking' %}">Cabs</a>
            <a href="{% url 'bus_booking'%}">Buses</a>
            <a href="{% url 'attractions'%}">Attractions</a>
            <a href="{% url 'packages'%}">Holiday Packages</a>
            <!-- <a href="#testimonial">Testimonial</a> -->
          
           
        </ul>
        
            
          <div class="dropdown">
            <button>Account</button>
           
            <div class="dropdown-content">
            <a class="" href="{% url 'profile' %}">Profile</a>               
            <a class="" href="{% url 'contactus' %}">Contact Us</a>
            <a href="{% url 'about'%}">About Us</a>
          {% if user.is_authenticated %}
            <a class="" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="" href="{% url 'login' %}">Login</a>
              <a class="" href="{% url 'signup' %}">Sign Up</a>
          {% endif %}</a>
          
            
        </div>
      </div>
    </header>
    <body>
    <div class="maincontainer">
        <h1>User Profile</h1>
        
        <div class="profile-card">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
<<<<<<< HEAD
            <a href="{% url 'cancelled_bookings' %}">Cancelled Trips</a>

=======
<<<<<<< HEAD
            <a href="{% url 'cancelled_bookings' %}">Cancelled Trips</a>

=======
>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
               
        </div>

        <div class="container">
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
            {% for hotel_booking in hotel_bookings %}
                <h1><strong>Hotel Booking Details</strong> </h1>
                <p><strong>Check-In Date:</strong> {{ hotel_booking.check_in_date }}</p>
                <p><strong>Check-Out Date:</strong> {{ hotel_booking.check_out_date }}</p>
                <p><strong>Number Of Guests:</strong> {{ hotel_booking.num_guests }}</p>
                <p><strong>Room Number: {{ hotel_booking.room_number.room_number }}</strong></p>
        
                {% if hotel_booking.canceled %}
                    <p>Booking Status: Canceled</p>
                    <p>Cancellation Reason: {{ hotel_booking.cancellation_reason }}</p>
                {% else %}
                    <p>Booking Status: Confirmed</p>
                    <a href="{% url 'cancel_booking' hotel_booking.id %}">Cancel Booking</a>
                {% endif %}
<<<<<<< HEAD
            {% endfor %}
        </div>
        

        <div class="container">
            {% for bus_booking in bus_bookings %}
            <h1><strong>Your Bus Booking Details</strong></h1>
            <p><strong>Pickup Location:</strong> {{ bus_booking.source }}</p>
            <p><strong>Drop Location:</strong> {{ bus_booking.destination }}</p>
            <p><strong>Travel Date:</strong> {{ bus_booking.travel_date }}, 09:00 AM</p>
            <p><strong>Number of Passengers:</strong> {{ bus_booking.num_passengers }}</p>
            {% if bus_booking.canceled %}
            <p>Booking Status: Canceled</p>
            <p>Cancellation Reason: {{ bus_booking.cancellation_reason }}</p>
            {% else %}
            <p>Booking Status: Confirmed</p>
            <p><strong>Assigned Driver:</strong> {{ bus_booking.bus_driver.name }}</p>
            <p><strong>Contact Number:</strong> {{ bus_booking.bus_driver.contact_number }}</p>
            <p><strong>Vehicle Number:</strong> {{ bus_booking.bus_driver.bus_number }}</p>
            <a href="{% url 'cancel_bus_booking' booking_id=bus_booking.id %}">Cancel Booking</a>
            {% endif %}
            {% endfor %}
        </div>
        
        
        <div class="container">
            {% for cab_booking in cab_bookings %}
            <h1><strong>Your Cab Booking Details</strong></h1>
            <p><strong>Pickup Location:</strong> {{ cab_booking.pickup_location }}</p>
            <p><strong>Drop Location:</strong> {{ cab_booking.drop_location }}</p>
            <p><strong>Travel Date:</strong> {{ cab_booking.travel_date }}, 09:00 AM</p>
            <p><strong>Number of Passengers:</strong> {{ cab_booking.num_passengers }}</p>
            {% if cab_booking.canceled %}
            <p>Booking Status: Canceled</p>
            <p>Cancellation Reason: {{ cab_booking.cancellation_reason }}</p>
            {% else %}
            <p>Booking Status: Confirmed</p>
            <p><strong>Assigned Driver:</strong> {{ cab_booking.cab_driver.name }}</p>
            <p><strong>Contact Number:</strong> {{ cab_booking.cab_driver.contact_number }}</p>
            <p><strong>Vehicle Number:</strong> {{ cab_booking.cab_driver.cab_number }}</p>
            <a href="{% url 'cancel_cab_booking' booking_id=cab_booking.id %}">Cancel Booking</a>
            {% endif %}
            {% endfor %}
        </div>
        
=======
            {% endfor %}
        </div>
        

        <div class="container">
            {% for bus_booking in bus_bookings %}
            <h1><strong>Your Bus Booking Details</strong></h1>
            <p><strong>Pickup Location:</strong> {{ bus_booking.source }}</p>
            <p><strong>Drop Location:</strong> {{ bus_booking.destination }}</p>
            <p><strong>Travel Date:</strong> {{ bus_booking.travel_date }}, 09:00 AM</p>
            <p><strong>Number of Passengers:</strong> {{ bus_booking.num_passengers }}</p>
            {% if bus_booking.canceled %}
            <p>Booking Status: Canceled</p>
            <p>Cancellation Reason: {{ bus_booking.cancellation_reason }}</p>
            {% else %}
            <p>Booking Status: Confirmed</p>
            <p><strong>Assigned Driver:</strong> {{ bus_booking.bus_driver.name }}</p>
            <p><strong>Contact Number:</strong> {{ bus_booking.bus_driver.contact_number }}</p>
            <p><strong>Vehicle Number:</strong> {{ bus_booking.bus_driver.bus_number }}</p>
            <a href="{% url 'cancel_bus_booking' booking_id=bus_booking.id %}">Cancel Booking</a>
            {% endif %}
            {% endfor %}
        </div>
        
        
        <div class="container">
            {% for cab_booking in cab_bookings %}
            <h1><strong>Your Cab Booking Details</strong></h1>
            <p><strong>Pickup Location:</strong> {{ cab_booking.pickup_location }}</p>
            <p><strong>Drop Location:</strong> {{ cab_booking.drop_location }}</p>
            <p><strong>Travel Date:</strong> {{ cab_booking.travel_date }}, 09:00 AM</p>
            <p><strong>Number of Passengers:</strong> {{ cab_booking.num_passengers }}</p>
            {% if cab_booking.canceled %}
            <p>Booking Status: Canceled</p>
            <p>Cancellation Reason: {{ cab_booking.cancellation_reason }}</p>
            {% else %}
            <p>Booking Status: Confirmed</p>
            <p><strong>Assigned Driver:</strong> {{ cab_booking.cab_driver.name }}</p>
            <p><strong>Contact Number:</strong> {{ cab_booking.cab_driver.contact_number }}</p>
            <p><strong>Vehicle Number:</strong> {{ cab_booking.cab_driver.cab_number }}</p>
            <a href="{% url 'cancel_cab_booking' booking_id=cab_booking.id %}">Cancel Booking</a>
            {% endif %}
            {% endfor %}
        </div>
        
=======
            
            
            {% for booking in bookings %}
            <h2>Your Vehicle Reservation</h2>
                <p><strong>Full Name:</strong> {{ booking.full_name }}</p>
                <p><strong>Email:</strong> {{ booking.email }}</p>
                <p><strong>Mobile:</strong> {{ booking.mobile }}</p>

                {% endfor %}
        </div>
        <div class="container">
            <h2>Your Hotel Bookings</h2>
            {% for hotel_booking in hotel_bookings %}
                <p><strong>Name:</strong> {{ hotel_booking.name }}</p>
                <p><strong>Email:</strong> {{ hotel_booking.email }}</p>
                <p><strong>Check-In Date:</strong> {{ hotel_booking.check_in_date }}</p>
                <p><strong>Check-Out Date:</strong> {{ hotel_booking.check_out_date }}</p>
                <p><strong>Number Of Guests:</strong> {{ hotel_booking.num_guests }}</p>
                <a href="{% url 'cancel_booking' booking_id=hotel_booking.id %}">Cancel Booking</a>
            {% endfor %}
        </div>

        <div class="container">
            <h2>Your Bus Bookings</h2>
            {% for bus_booking in bus_bookings %}
            <p><strong>Full Name:</strong> {{ bus_booking.full_name }}</p>
            <p><strong>Email:</strong> {{ bus_booking.email }}</p>
            <p><strong>Source:</strong> {{ bus_booking.source }}</p>
            <p><strong>Destination:</strong> {{ bus_booking.destination }}</p>
            <p><strong>Travel Date:</strong> {{ bus_booking.travel_date }}</p>
            <p><strong>Number of Passengers:</strong> {{ bus_booking.num_passengers }}</p>
            <a href="{% url 'cancel_bus_booking' booking_id=bus_booking.id %}">Cancel Booking</a>
            {% endfor %}
        </div>
        
        <div class="container">
            <h2>Your Cab Bookings</h2>
            {% for cab_booking in cab_bookings %}
            <p><strong>Full Name:</strong> {{ cab_booking.full_name }}</p>
            <p><strong>Email:</strong> {{ cab_booking.email }}</p>
            <p><strong>Pickup Location:</strong> {{ cab_booking.pickup_location }}</p>
            <p><strong>Drop Location:</strong> {{ cab_booking.drop_location }}</p>
            <p><strong>Travel Date:</strong> {{ cab_booking.travel_date }}</p>
            <p><strong>Number of Passengers:</strong> {{ cab_booking.num_passengers }}</p>
            <a href="{% url 'cancel_cab_booking' booking_id=cab_booking.id %}">Cancel Booking</a>
            {% endfor %}
        </div>
    
>>>>>>> 34fcee235fe2362a41de843fc81200791d697d58
>>>>>>> 651ffcdfe0fb8c19f5fa8639bf7c95162cad9428
</body>

    <footer>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-section feeback">
                    <p><center>Help us in serving you better<center> </p><br>
                    <p><a href="{% url 'feedback'%}" class="feedback">  Give Feedback </a></p>
                
                </div>
                <div class="footer-section links">
                    
                    <p><center>Journee Joy<center></p><br>
                      {% if user.is_authenticated %}
                      <p><a class="" href="{% url 'logout' %}">Logout</a></p>
                      {% else %}
                        <p><a class="" href="{% url 'login' %}">Login</a></p>
                        <p><a class="" href="{% url 'signup' %}">Sign Up</a></p>
                    {% endif %}</a>
                   
                </div>
                <div class="footer-section contact-form">
                    <div class="contact">
                        <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><i class="fa fa-envelope"></i> &nbsp; info@journeejoy.com</span>
                    </div><br>
                    <div class="socials">
                        <a href=""  style="color: white; text-decoration: none;" i class="fa-brands fa-facebook"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-instagram"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-twitter"></i></a>
                        <a href="" style="color: white; text-decoration: none;" i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>     
              </div>
      
            <div class="footer-bottom">
                &copy; journeejoy.com | Designed by Journeejoy Team<br>
                Copyright &copy 2023 journeejoy Online Private Limited, India. All rights reserved
            </div>
        </div>
      </footer>

 <style>
    .maincontainer{
            margin-top: 150px;
           
        }
    header{
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: snow;
        padding: 15px 100px;
        z-index: 1;
    
    }
    .navbar{
        display: flex;
    }
    #title1{
      margin-left: 150px;
    }
    
    .navbar a{
        font-size: 1rem;
        padding: 10px 20px;
        color:  #444;
        font-weight: 500;
        text-decoration: none;
    }
    .navbar a::after {
        width: 0;
        height: 3px;
        background: #fe5b3d,#ffac38;
        position: absolute;
        bottom: -4px;
        left: 0;
        transition: 0.5s;
    
    }
    .navbar a:hover::after {
        width: 100%;
    
    }
    .navbar a:hover{
        background-color: #fe5b3d;
        
    }
    .header-btn{
        display: flex;
    }
    .header-btn a{
        font-size: 1rem;
        padding: 10px 20px;
        color:  #444;
        font-weight: 500;
        text-decoration: none;
    }
    .header-btn a::after {
        width: 0;
        height: 3px;
        background: #fe5b3d,#ffac38;
        position: absolute;
        bottom: -4px;
        left: 0;
        transition: 0.5s;
    
    }
    .header-btn a:hover::after {
        width: 100%;
    
    }
    .header-btn a:hover{
        background-color: #fe5b3d;
        
    }
    .dropdown {
          position: relative;
          display: inline-block;
          padding: 5px 10px;
         
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          min-width: 160px;
          z-index: 1;
          white-space: nowrap;
          padding: 5px 10px;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
    
        }
        
        .dropdown-content a {
          display: block;
          padding: 8px 16px;
          text-decoration: none;
          color: black;
        }
        
        .dropdown-content a:hover {
          background-color: #cd2d2d;
        }
        .dropdown button {
          height: 40px;
          width: 120px;
          background-color: black;
        }
        footer
        {
            margin-top: 1000px;
            height: 50vh;
            background-color: bisque;
            width: 1530px;
            margin-left: -380px;
            
        }
        
      
        footer
      {
        margin-top:200px; ;
          background: #303036;
          color: #d3d3d3;
          height: 50vh;
          position: relative;
          /* margin-left:-800px; */
         
          
      
      }
      
      
      .footer .footer-content
      {
      height: 150px;
      display: flex;	
      }
      
      
      .footer .footer-content .footer-section
      {
          flex: 1;
          padding: 45px;
          
      }
      
      .footer .footer-bottom{
          background: #303036;
          color: #686868;
          height: 100px;
          width: 100%;
          text-align: center;
          position: absolute;
          bottom: 0px;
          left: 0px;
          padding-top: 20px;
      }
      .feedback
      {
          background-color: #A9A9A9;
          color: white;
          position: absolute;
          left: 170px;
          padding: 10px;
          padding-right: 30px;
          border: 1px solid white;
          border-radius: 200px;
          display: inline-block;
          text-decoration: none;
          padding-left: 30px;
      
      }
      
      .feedback:hover
      {
          background-color: #303036;
      }
      .register
      {
          text-decoration: none;
          color: white;
          
      }
      
      
      .footer .footer-content .footer-section .contact-form .socials
      {
          text-decoration: none;
          color:white;
      }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
    margin-top: 100px;
}


.maincontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
    text-align: center;
}


h1, h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}


.profile-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}

.profile-card p {
    margin-bottom: 10px;
}

.profile-card strong {
    font-weight: bold;
}


button {
    padding: 10px 20px;
    background-color: #fe5b3d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e24933;
}


.container {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    padding: 10px;
    border: 1px solid #ccc;
}

table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

    
    </style>  
</body>
</html>