<!DOCTYPE html>
<html>
<head>
    <title>Allocated Plan</title>
</head>
<body>
    <div class="container">
        <h1>Allocated Plan</h1>

        {% if allocated_plan %}
            <h2>{{ allocated_plan.name }}</h2>
            <p><strong>Location:</strong> {{ allocated_plan.location }}</p>
            <p><strong>Description:</strong> {{ allocated_plan.description }}</p>
        {% else %}
            <p>No allocated plan found.</p>
        {% endif %}
    </div>
</body>
</html>
