<!DOCTYPE html>
<html>
<head>
  <title>Travel Planner</title>
  <link rel="stylesheet" type="text/css" href="">
</head>
<body>
  <div class="container">
    <h1>Travel Planner</h1>
    <form method="POST" action="{% url 'planner' %}">
        {% csrf_token %}
      <div class="form-group">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required>
      </div>
      <div class="form-group">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required>
      </div>
      <a href="{% url 'plan' %}"><button type="submit">Plan My Travel</button></a>
    </form>
  </div>
</body>
</html>

<style>

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="date"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

</style>