<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><p>We will get back soon with your journey plan</p></h1>
<h2>-- JourneeJoy</h2>
<h2><a href="{% url 'home' %}">Home</a></h2>
<style>
    h2{
        margin-left: 890px;
    }
    h1{
        text-align: center;
    }
</style>
</body>
</html>